//colors
$color-blue: #6fa9c2;
$color-red: #ee3939;
$color-ecru: #dedcd9;
$color-gray: #d2d2d2;
$color-darkgrey: #cccccc;
$color-txt: #111111;
$color-white: #fff;

//font weights
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//media queries
$tablet: 600px;
$laptop: 900px;
$desktop: 1400px;

//border & shadow
$border--main: 0.3rem solid $color-txt;
$shadow--main: 0.3rem 0.3rem 0 0 $color-txt;