.gallery {
  &--products {
    display: grid;
    justify-content: center;
    grid-gap: 2.8rem;
    grid-template-columns: 1fr;

    @media (min-width: 320px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      position: relative;

      &__buttons {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1000;
        transform: translateY(-6rem);
      }
    }
  }

  &--cart {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    gap: 2.6rem;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: visible;

    @media (min-width: $tablet) {
      flex-direction: row;
      overflow-y: visible;
      overflow-x: scroll;
    }

    &__item {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 2.6rem;

      @media (min-width: $tablet) {
        gap: 1.3rem;
        flex-direction: column;
        min-width: 25rem;
        max-width: 25rem;
        align-self: center;
      }

      &__image {
        flex: 1;
        position: relative;

        &__remove {
          position: absolute;
          top: 1rem;
          left: 2rem;
        }
      }

      &__details {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__name {
          margin-top: 1.5rem;
        }

        &__value {
          margin-top: 0.5rem;
        }

        &__option {
          max-width: 14rem;

          @media (min-width: $tablet) {
            max-width: none;
          }
        }
      }
    }
  }
}
