.gallery {
  display: grid;
  justify-content: center;
  grid-gap: 2.8rem;

  &--scroll {
    grid-template-columns: 1fr;

    @media (min-width: 320px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1000px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;

    &__buttons {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 1000;
      transform: translateY(-6rem);
    }
  }
}
